<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgsKURhEOeZjgmoNnq7clK9sZVI5bmjME</string>
	<key>GCM_SENDER_ID</key>
	<string>555303538734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alan.AI-Smart-Dating</string>
	<key>PROJECT_ID</key>
	<string>ai-wingman-c7fc8</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-wingman-c7fc8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555303538734:ios:d3ea292a9b6796e0d18fbf</string>
</dict>
</plist>